{% extends 'base.html.twig' %}

{% block title %}Page de Livraison
{% endblock %}

{% block body %}
	{% include 'partials/navbar.html.twig' %}
	<h1 class="text-center mt-3 mb-3">Page de Livraison</h1>
	<div class="container ml-10">
		{{ form_start(form) }}
		<div class="form-container">
			<div class="mb-3">
				<label for="">Sofera</label>
				{{ form_widget(form.sofera)}}
			</div>

			<div class="mb-3">
				<label for="">Entana</label>
				{{ form_widget(form.entana)}}

			</div>

			<div class="mb-3">
				<label for="">Frais</label>
				{{ form_widget(form.frais, { 'attr': {'style': 'border-radius: 5px; margin-left: 10px'} })}}
			</div>

			<div class="mb-3">
				<label for="">Permis</label>
				{{ form_widget(form.permis)}}
			</div>


		</div>

		<button type="submit" class="btn btn-primary">Entaneo</button>
		{{ form_end(form) }}
	</div>
{% endblock %}
