{% extends 'base.html.twig' %}

{% block title %}
	🛵 Liste des livraisons

{% endblock %}

{% block body %}
	<h1 class="text-center mt-3 mb-3">Liste des livraisons</h1>
	<div class="container">
		<table class="table table-striped">
			<thead>
				<tr>
					<th scope="col">Date</th>
					<th scope="col">Chauffeur</th>
					<th scope="col">Frais</th>
					<th scope="col">Colis</th>
					<th scope="col">Produits</th>
					<th scope="col">Fournisseur</th>
				</tr>
			</thead>
			<tbody>
				{% for livraison in delivery %}
					<tr>
						<td>{{ livraison.createdAt | date('d-m-Y')}}</td>
						<td scope="row">{{ livraison.livreur}}</td>
						<td>{{ livraison.frais}}
							AR</td>
						<td>{{ livraison.colis}}</td>
						<td>{{ livraison.Trondro}}</td>
						<td>{{ livraison.fournisseur}}</td>
					</tr>
				{% else %}
					<tr>
						<td colspan="3">no records found</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>


{% endblock %}
