{% extends 'base.html.twig' %}

{% block title %}Cre-Entana
{% endblock %}

{% block body %}
	{% include 'partials/navbar.html.twig' %}
	<h1 class="text-center mt-3 mb-10">Calcul des entana</h1>
	<div class="container mt-4 d-flex justify-content-center border p-4">

		<div class="mx-3">
			{{ form_start(form) }}
			<div class="form-container">
				<div class="mb-3">
					<label for="" class="me-5">Trondro</label>
					{{ form_widget(form.trondro)}}
				</div>

				<div class="mb-3">
					<label for="" class="me-5">lanjany</label>
					{{ form_widget(form.lanjany)}}

				</div>

				<div class="mb-3">
					<label for="">Vidin'Iray</label>
					{{ form_widget(form.vidiniray, { 'attr': {'style': 'margin-left: 15px'} })}}
				</div>

				<div class="mb-3">
					<label for="">Avance</label>

					{{ form_widget(form.avance , { 'attr': {'style': 'margin-left: 29px;'} })}}

				</div>

				<div class="mb-3">
					<label class="me-5">Client</label>
					{{ form_widget(form.client)}}
				</div>
			</div>

			<button type="submit" class="btn btn-primary mt-3" style="margin-left : 15em">Entaneo</button>
			{{ form_end(form) }}

		</div>
	</div>
{% endblock %}
