{% extends 'base.html.twig' %}

{% block title %}Cre-Entana
{% endblock %}

{% block body %}
	{% include 'partials/navbar.html.twig' %}
	<h1 class="text-center mt-3 mb-3">Calcul des entana</h1>
	<div class="container ml-10">
		{{ form_start(form) }}
		<div class="form-container">
			<div class="mb-3">
				<label for="">Trondro</label>
				{{ form_widget(form.trondro)}}
			</div>

			<div class="mb-3">
				<label for="">lanjany</label>
				{{ form_widget(form.lanjany)}}

			</div>

			<div class="mb-3">
				<label for="">Vidin'Iray</label>
				{{ form_widget(form.vidiniray, { 'attr': {'style': 'border-radius: 5px; margin-left: 10px'} })}}
			</div>

			<div class="mb-3">
				<label for="">Avance</label>
				{{ form_widget(form.avance)}}
			</div>

			<div class="mb-3">
				{{ form_label(form.client) }}
				{{ form_widget(form.client)}}
			</div>
		</div>

		<button type="submit" class="btn btn-primary">Entaneo</button>
		{{ form_end(form) }}
	</div>
{% endblock %}
