{% extends 'base.html.twig' %}

{% block title %}Gestion des stocks
{% endblock %}

{% block body %}
	{% include 'partials/navbar.html.twig' %}
	<h1 class="text-center mt-3 mb-10">Gestion des stocks</h1>
	<div class="container mt-4 d-flex justify-content-center">

		<div class="mx-3">
			{{ form_start(form) }}
			<div class="form-group">
				<div class="mb-3">
					<label for="" class="me-5">Trondro</label>
					{{ form_widget(form.Trondro)}}
				</div>

				<div class="mb-3">
					<label for="" class="me-5">Poids</label>
					{{ form_widget(form.Poids)}}
				</div>

				<div class="mb-3">
					<label for="" class="me-5">Prix Unitaire</label>
					{{ form_widget(form.Prix_unitaire)}}
				</div>

				<div class="mb-3">
					<label for="" class="me-5">Etat</label>
					{{ form_widget(form.Etat)}}
				</div>


				<div class="mb-3">
					<label class="me-5">Fournisseur</label>
					{{ form_widget(form.Fournisseur)}}
				</div>
			</div>

			<div class="mt-3 d-flex justify-content-space">
				<button type="submit" class="btn btn-primary">Stocker</button>
				<a href="{{ path('liste_stock')}}" type="button" class="btn btn-secondary mx-3">Liste des stocks 💰</a>
			</div>

			{{ form_end(form) }}

		</div>

	{% endblock %}
